<!DOCTYPE html>
<html>
<head>
<title>Create a Post </title>
</head>

<body>
<h1>Create a Post </h1>

<form action="" method="POST">
{% csrf_token %}
    <div class="col-6">
        <div class="input-group col mb-1">
            <input type="text" name="title"/>
            <label class="input-label ">Title:</label>
        </div>
    </div>
    <div class="col-6">
        <div class="input-group col mb-1">
            <textarea cols="35" rows="8" name="content"></textarea>
            <label class="input-label ">Content:</label>
        </div>
    </div>
<input type="submit" value="Post"/>
</form>




</body>

</html>